<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fireworks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C5756211C50AF93009C0BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C57563A1C50AF94009C0BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5756451C50AF94009C0BFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
